@charset "UTF-8";

@import "_core/variable";
@import "_core/reset";
@import "_core/font";

@import "_core/header";
@import "_core/section";
@import "_core/label";
@import "_core/project";
@import "_core/theme";
@import "_core/media";
@import "_core/animate";

[v-cloak] {display: none;}

// svg 图标
.svgicon {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
}