$body-bg: #e6edf3;
$highlight: #5da0e8;
$box-border: darken($body-bg, 10);
$main-border: #d6d6d9;

$color-red   : #ea6152;
$color-orange: #f39c12;
$color-purple: #a472d6;
$color-blue  : #5b7bd1;
$color-cyan  : #1abc9c;
$color-green : #27ae60;
$color-coral : #ff7f50;

$gutter: 20px !default;
$font-base: 16px;