@use "sass:color" as *;
@use "sass:math" as *;

@use "_core/variable" as *;
@use "_core/reset" as *;
@use "_core/font" as *;

@use "_core/header" as *;
@use "_core/section" as *;
@use "_core/label" as *;
@use "_core/project" as *;
@use "_core/theme" as *;
@use "_core/media" as *;
@use "_core/animate" as *;

[v-cloak] {display: none;}

// svg 图标
.svgicon {
	display: inline-block;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
}
