<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<!--[if lt IE 9]>
	<meta http-equiv="Refresh" content="0; url=https://browsehappy.com/">
	<![endif]-->
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="include/css/main.scss">
	<link rel="shortcut icon" href="include/images/favicon.ico">
</head>
<body>
	<div class="mainbox">
		<h1 class="main-title">项目看板</h1>
		<section class="section">
			<h2>开发角色</h2>
			<div class="filter-list" id="roleList" v-cloak>
				<label v-for="role in roles" class="label">
					<input type="checkbox"
						v-bind:value="role.tag"
						v-model="selected">
					<span class="label-base">
						<svg class="svgicon">
							<use v-bind:xlink:href="'#icon-' + role.tag"></use>
						</svg>
						{{role.name}}
					</span>
				</label>
			</div>
		</section>
		<section class="section">
			<h2>项目类型</h2>
			<div class="filter-list" id="categoryList" v-cloak>
				<label v-for="item in categorys" class="label">
					<input type="checkbox"
						v-bind:value="item.tag"
						v-model="selected">
					<span class="label-base">
						<svg class="svgicon">
							<use v-bind:xlink:href="'#icon-' + item.tag"></use>
						</svg>
						{{item.name}}
					</span>
				</label>
			</div>
		</section>
		<section class="project">
			<h2>项目记录</h2>
			<div id="projectList" v-cloak>
				<p v-if="isLoading" style="text-align:center">loading...</p>
				<template v-else v-for="project in projects">
					<h3 class="year">
						<a href="javascript:;"
							v-bind:class="{'is-fold': !project.isOpen}"
							v-on:click="project.isOpen = !project.isOpen">{{project.year}}</a>
					</h3>
					<transition name="list-fade">
						<ul class="project-list" v-show="project.isOpen">
							<li v-if="isShow(item)"
								v-for="item in project.data">
								<p>
									<span class="label">
										<span class="label-base">
											<svg class="svgicon">
												<use v-bind:xlink:href="'#icon-' + item.category"></use>
											</svg>
											{{getCategory(item.category)}}
										</span>
									</span>
								</p>
								<h4 class="project-name">
									<a v-bind:href="item.url || 'javascript:;'"
										v-bind:target="item.url ? '_blank' : ''">
										{{item.name}}
									</a>
								</h4>
								<p class="project-type">{{item.lang}}</p>
								<dl class="project-info">
									<dt>项目描述：</dt>
									<dd>{{item.intro}}</dd>
									<dt>我的角色：</dt>
									<dd>
										<span class="label" v-for="role in item.role">
											<span class="label-base" v-bind:class="'theme-' + getRoles(role).theme">
												<svg class="svgicon">
													<use v-bind:xlink:href="'#icon-' + getRoles(role).tag"></use>
												</svg>
											{{getRoles(role).name}}
											</span>
										</span>
									</dd>
									<dt>我的职责：</dt>
									<dd>
										<ol>
											<li v-for="(duty, idx) in item.duty">
												{{buildDutyList(duty, idx, item.duty)}}
											</li>
										</ol>
									</dd>
								</dl>
							</li>
						</ul>
					</transition>
				</template>
			</div>
		</section>
	</div>

	<link rel="import" href="include/images/svg-icon.html?__inline">

	<script src="include/libs/vue.min.js"></script>
	<script src="include/libs/jquery-1.11.3.min.js"></script>
	<script src="include/js/sort-arr.js"></script>
	<script>
		var role = new Vue({
			el: '#roleList',
			data: {
				selected: ['pm', 'ui', 'fe', 'rd', 'qa', 'op'],
				roles: __inline('include/json/roles.json')
			}
		});

		var category = new Vue({
			el: '#categoryList',
			data: {
				selected: ['cloud', 'web', 'app', 'wechat', 'tools', 'screen', 'software'],
				categorys: __inline('include/json/category.json')
			}
		});

		var project = new Vue({
			el: '#projectList',
			data: {
				isLoading: true,
				projects: []
			},
			methods: {
				isShow: function(obj) {
					// 类名筛选
					var flag1 = !!~category.selected.indexOf(obj.category) || false;

					// 角色筛选
					var flag2 = obj.role.every(function(item) {
						return !!~role.selected.indexOf(item);
					});

					return flag1 && flag2;
				},
				buildDutyList: function(item, idx, array) {
					var str = item + (idx === array.length - 1 ? '。' : '；');

					if (array.length > 1) {
						str = (idx + 1) + '. ' + str;
					}

					return str;
				},
				_getFilter: function(tag, obj) {
					for (var i = 0; i < obj.length; i++) {
						if (tag === obj[i].tag) {
							return obj[i];
						}
					}
				},
				getCategory: function(tag) {
					return this._getFilter(tag, category.categorys).name;
				},
				getRoles: function(tag) {
					return this._getFilter(tag, role.roles);
				}
			}
		});

		// axios.all([
		// 	axios.get('data/category.json'),
		// 	axios.get('data/projects.json')
		// ]).then(axios.spread(function(res1, res2) {
		// }));

		$.get('data/projects.json')
			.done(function(res) {
				res.sort(sortBy('year', true));  // 按年份降序

				var dataArr = [],
					elm,
					hash = {};  // 标识重复项

				res.forEach(function(item, idx) {
					elm = item.year;

					if (!hash[elm]) {  // 新的年份
						dataArr.push({
							year: elm,
							isOpen: true,  // 默认展开全部年份
							data: []
						});
						hash[elm] = true;
					}

					for (var i = 0; i < dataArr.length; i++) {
						if (dataArr[i].year === elm) {  // 属于当前年份
							dataArr[i].data.push(item);
							break;
						}
					}
				});

				// 分类项目排序
				dataArr.forEach(function(item) {
					item.data.sort(sortBy('category'));  // 根据项目类型升序
				});

				project.projects = dataArr;
			})
			.always(function() {
				project.isLoading = false;
			});
	</script>
</body>
</html>
