@use "sass:color";
@use "variable" as *;

.label {
	display: inline-block;
	user-select: none;

	> input {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}
}

.label-base {
	display: block;
	padding: 5px 1em;
	padding-left: .8em;
	font-size: 13px;
	line-height: 1;
	white-space: nowrap;
	color: rgba(#000, 0.5);
	background: #eee;
	border-radius: 18px;

	.label > input:checked + & {
		color: color.adjust($highlight, $lightness: -10%);
		background: color.adjust($highlight, $lightness: 30%);
	}

	> .svgicon {font-size: 1.3846em;}
}
