.label-container {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.label {
	display: inline-block;
	user-select: none;

	> input {
		position: absolute;
		clip: rect(0, 0, 0, 0);
	}

  .fixed &:hover {
    .label-base-text {font-size: 0.8125rem;}
  }
}

.label-base {
	display: block;
	padding: 5px 1em;
	padding-left: 0.8em;
	font-size: 0.8125rem;
	line-height: 1;
	white-space: nowrap;
	color: rgba(#000, 0.5);
	background: #eee;
	border-radius: 1em;

	.label > input:checked + & {
		color: color.adjust($highlight, $lightness: -10%);
		background: color.adjust($highlight, $lightness: 30%);
	}

	> .svgicon {font-size: 1.3846em;}
}

.label-base-text {
  margin: 0 0.25em;
  transition: font-size 0.1s;

  .fixed & {font-size: 0;}
}
