html {font-size: 16px;}

@media screen and (max-width: 700px) {
  html {font-size: 14px;}

  body {
    padding: 0;
    font-size: 13px;
  }

  .project {
    margin-left: $gutter-sm;
    margin-right: $gutter-sm;

    &::before {
      left: $left-space-sm + $icon-size-sm;
    }

    > h2 {
      left: $left-space-sm + $gutter-sm * 2 - math.div($icon-size-sm, 2);
    }
  }

  .year {width: $left-space-sm;}

  .project-list {
    > li {
      grid-template-columns: ($left-space-sm - $icon-size-sm * 2) 1fr;

      &::before {
        left: $left-space-sm + $icon-size-sm + 1px;
      }

      > p {width: $left-space-sm;}
    }
  }
}

@media screen and (max-width: 500px) {
  .project {
    &::before {
      left: $icon-size-sm;
    }

    > h2 {left: 0;}
  }

  .year {width: auto;}

  .filter-bar > .section > h2 {border-radius: 0;}

  .project-list {
    > li {
      grid-template-columns: auto;
      padding-left: $left-space-xs + $icon-size-sm + $gutter-sm;

      &::before {
        left: $icon-size-sm + 1px;
      }

      > p {
        width: auto;
        order: 1;
        text-align: left;
      }
    }
  }

  .project-info {
    order: 5;
    grid-template-columns: 1fr;
    padding-left: 1em;

    > dt {margin-left: -1em;}
  }
}
